
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Lig.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato-Hai.ttf") format("truetype");
}

@font-face {
  font-family: "Helvneue";
  src: url("../fonts/helvneue.ttf") format("truetype");
}

html {
  padding: 5%;
}
html * {
  color: #ecf0f1;
  font-family: Lato;
  font-size: 29pt;
  font-weight: lighter;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

#weather-temp {
  color: #ecf0f1;
  font-size: 210pt;
  font-family: Helvneue;
}

#weather-city {
  color: #ecf0f1;
  font-family: Helvneue;
  font-weight: bold;
}
